.pict {
	width: 150px;
}

.showPict {
	/* transform: rotateY(180deg); */
	transition-delay: 0.15s;
	opacity: 1;
}

.noPict {
	opacity: 0;

	/* display: none; */
}
.blocks {
	height: 150px;
	width: 150px;
	background-color: rgb(230, 87, 21);
	float: left;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition-duration: 0.3s;
	transform: scaleX(1);
}
.flipped {
	transform: scaleX(-1);

}
.button {
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 15px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
}
.cards {
	padding-left: 25%;
	padding-right: 25%;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
