.input {
	position: relative;
	margin-top: 30vh;
	width: 30%;
	margin-left: 35%;

	background-color: gray;
	color: white;
	padding: 20px 32px;
	text-align: center;

	font-size: 24px;
	font-weight: bold;
}

.inputText {
	font-size: 24px;
	margin-left: 10px;
	width: 60px;
	font-weight: bold;
}
.noInput {
	display: none;
}
.button {
	margin-top: 80px;
	background-color: blue;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}
.buttonRestart {
	position: absolute;
	background-color: blue;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}
.pict {
	margin-top: 15%;
	width: 150px;
}

.showPict {
	/* transform: rotateY(180deg); */
	transition-delay: 0.15s;
	opacity: 1;
}

.noPict {
	opacity: 0;

	/* display: none; */
}
.blocks {
	position: static;
	height: 150px;
	width: 150px;
	background-color: rgb(230, 87, 21);
	float: left;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition-duration: 0.3s;
	transform: scaleX(1);
}
.flipped {
	transform: scaleX(-1);
}
.cards {
	padding-left: 25%;
	padding-right: 25%;
}
.App {
	width: 100%;
	text-align: center;
}
